@n p{
  @b index{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @e inner{
      width: 600px;
    }

    @e code{
      display: block;
      width: 100%;
    }

    @e button{
      width: 400px;
      margin: 32px 100px;
      display: block;
    }
  }
}