{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "debug": false
    }],
  ],
  "plugins": [
    "@vue/babel-plugin-transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
