
<div class="ry-my">
  <div class="ry-my-tabs" @click="tabHandler">
    <div
      :class="[
        'ry-my-tab',
        couponStatusType === 'yes' ? 'ry-my-tab--active' : '']"
      data-tab="yes"
    >卡券</div>
    <div
      :class="[
        'ry-my-tab',
        couponStatusType === 'no' ? 'ry-my-tab--active' : '']"
      data-tab="no"
    >历史记录</div>
  </div>

  <div class="ry-my-list-wrap">
    <div class="ry-my-list">
      <div
        :class="['ry-my-item', item.isUn ? 'ry-my-item--un' : '']"
        v-for="(item, index) in listOrigin"
        :key="index"
        @click="itemHandler(item.scoreGoodId, item.code, index)">
        <div class="ry-my-left">
          <img class="ry-my-left-image" :src="item.iconUrl"/>
        </div>
        <div class="ry-my-middle">
          <div class="ry-my-middle-split"></div>
        </div>
        <div class="ry-my-right">
          <div class="ry-my-title">{{item.couponName}}</div>
          <div :class="[
            'ry-my-time',
            item.isLast && !item.isUn ? 'ry-my-time--last' : '',
          ]">有效期：{{item.validStartAtStr}}-{{item.validEndAtStr}}</div>
        </div>
        <div :class="['ry-my-status', `ry-my-status--s${item.codeStatus}`]"></div>
      </div>

    </div>
  </div>

  <div class="ry-my-empty"
      v-if="!listOrigin || listOrigin.length < 1"
      @click="queryList(1)">
      暂无数据，请点击刷新
    </div>
</div>
