
<div class="ry-result">

  <div class="ry-result--success" v-if="isSuccess">
    <div class="ry-result-icon ry-result-icon--success"></div>
    <div class="ry-result-title">{{successMsg}}</div>

    <div class="ry-result-coupon">
      <div class="ry-result-left">
        <img class="ry-result-left-image" :src="detail.iconUrl"/>
      </div>
      <div class="ry-result-middle">
        <div class="ry-result-middle-split"></div>
      </div>
      <div class="ry-result-right">
        <div class="ry-result-name">{{detail.name}}</div>
        <div class="ry-result-time">有效期：{{detail.validStartAtStr}}-{{detail.validEndAtStr}}</div>
        <div class="ry-result-time">x{{detail.num}}</div>
      </div>
    </div>

    <div class="ry-result-button">
      <div class="ry-result-button-return ry-button-minor" @click="toReturn">返回</div>
      <div class="ry-result-button-go ry-button-main" @click="toUsePage">去使用</div>
    </div>
  </div>

  <div class="ry-result-error" v-if="!isSuccess">
    <div class="ry-result-icon ry-result-icon--error"></div>
    <div class="ry-result-title">{{errorMsg}}</div>

    <div class="ry-result-coupon">
      <div class="ry-result-left">
        <img class="ry-result-left-image" :src="detail.iconUrl"/>
      </div>
      <div class="ry-result-middle">
        <div class="ry-result-middle-split"></div>
      </div>
      <div class="ry-result-right">
        <div class="ry-result-name">{{detail.name}}</div>
      </div>
    </div>

    <div class="ry-result-button">
      <div class="ry-result-button-go ry-button-main" @click="toReturn">返回</div>
    </div>
  </div>
</div>
